@import "variables.scss";

footer {
    position: absolute;
    bottom: 0;

    .listas {
        @include propiedadesFlex(flex,row,nowrap,space-evenly,start);
        background-color: map-get($color, principal);

        p.tituloFooter {
            color: map-get($color, gris);
            padding-bottom: 10px;
            text-align: center;
            padding-top: 25px;
        }

        ul {
            list-style: none;
            text-align: center;

            li  {
                @include propiedadesFlex(flex,row,nowrap,start,center);
            }
            a {
                text-decoration: none;
                color: map-get($color, gris);

                &:hover {
                    color: map-get($color, blanco);
                    text-decoration: underline;
                }

                img {
                    width: 35px;
                    margin: 5px 10px;
                }
            }
        }
    }

    p.derechos {
        background-color: map-get($color, principal);
        color: map-get($color, blanco);
        text-align: center;
        margin: 0px;
    }
}