@import "variables.scss";

body {
    background-color: map-get($color , grisClaro);
    margin-bottom: 200px;

    main {
        margin-bottom: 450px;
        .seccion1 {
            margin-bottom: 100px;
        }
    }

    h1 {
        @include propiedadesFlex(flex, row, wrap, start, center );
        font-family: map-get($fuente , titulos );
        text-shadow: map-get($sombra , sombraClara );
        color: map-get($color , grisMedio );
        font-size: 1.2rem;
        margin-left: 35px;
        margin-top: 30px;
    }

    h2 {
        @extend h1;
    }

    .h2Index {
        margin: 0%;
        color: map-get($color , negro );
    }

    .portadaSecciones{
        width: 100%;
        box-shadow: map-get($sombra , sombraClara );
        
    }

    h3 {
        background-color: map-get($color , verde);
        border-radius: 10px 10px 10px 10px;
        color: map-get($color , blanco);
        font-family: map-get($fuente , nombre );
        font-size: 1.3rem;
        text-align: center;
        text-shadow: map-get($sombra , sombra );
        opacity: 0.9;
    }

    .infoIndex {
        display: none;
    }

    .inconoIndex{
        font-size: 2rem;
        padding: 5px;
        background-color: map-get($color , grisClaro );
    }

    .carrusel {
        box-shadow: map-get($sombra , sombraClara );
    }

    .next2 {
        background-color: rgb(114, 114, 114);
    }

}



.nosotrosImg1 img {
    display: none;
}