span {
    font-size: 1rem;
    --cor: rgba(200, 0, 0, 1);
    --transp: rgba(0, 0, 0, 0);
    background: var(--cor);
    background: linear-gradient(180deg,
            var(--transp) 0%,
            var(--transp) 53%,
            var(--cor) 54%,
            var(--cor) 94%,
            var(--transp) 95%,
            var(--transp) 100%);
}