@import "variables.scss";

@media(min-width: 576px) {}

@media(min-width: 768px) {
    span {
        font-size: 1.2rem;
    }

    footer {
        .listas {
            ul {
                margin: 10px 35px;

                li a img {
                    width: 45px;
                    margin-left: 10px;
                }

                .redes {
                    display: flex;
                }
            }

            .tituloFooter {
                padding-bottom: 20px;
                margin: 0px;
            }
        }

    }

    main {
        .nosotrosP {
            padding: 15px;
            font-size: medium;
            color: rgba(41, 41, 41, 0.75);
            width: 50%;
        }

        .nosotrosImg2 {
            display: none;
        }

        .nosotrosImg1 img {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            padding: 5px;
            margin-top: 15px;
            box-shadow: $sombraClara;
        }
    }
}

@media(min-width: 992px) {

    main {
        .contenedor-cards2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            overflow-x: hidden;
        }
    }

    nav.navbar.navbar-expand-lg.bg-dark {
        padding: 0%;

        span {
            font-size: 1.3rem;
        }

        .navbarNav {
            display: flex;
            justify-content: end;
        }

        a {
            padding: 1px 10px;
        }

    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .nosotrosImg1 img {
        width: 110%;
    }

}

@media(min-width: 1200px) {

    .main {

        .contenedor-cards {
            display: flex;
            justify-content: space-around;
            overflow-x: hidden;
        }
    }


}