@media(min-width: 576px) {
    .carrusel1 {
        display: none;
    }

    .carrusel2 {
        display: flex;
    }

    .carrusel11 {
        display: none;
    }

    .carrusel22 {
        display: flex;
    }

}

@media(min-width: 768px) {

    .carrusel2 {
        display: none;
    }

    .carrusel22 {
        display: none;
    }

    .carrusel3 {
        display: flex;
    }

    .carrusel33 {
        display: flex;
    }

    span {
        font-size: 1.2rem;
    }

    footer {
        .listas {
            ul {
                margin: 10px 35px;

                li a img {
                    width: 45px;
                    margin-left: 10px;
                }

                .redes {
                    display: flex;
                }
            }

            .tituloFooter {
                padding-bottom: 20px;
                margin: 0px;
            }
        }

    }

    main {
        .nosotrosP {
            padding: 15px;
            font-size: medium;
            color: rgba(41, 41, 41, 0.75);
            width: 50%;
        }

        .nosotrosImg2 {
            display: none;
        }

        .nosotrosImg1 img {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            box-shadow: 2px 2px 5px rgb(57, 57, 57);
        }
    }
}

@media(min-width: 992px) {

    .main {
        margin-bottom: 0px;

        .carrusel3 {
            display: none;
        }

        .carrusel33 {
            display: none;
        }

        .carrusel4 {
            display: flex;
            flex-wrap: wrap;
        }

        .carrusel44 {
            display: flex;
            flex-wrap: wrap;

            div.col.zoom.centrar {
                margin: 15px 30px;

                div.tarjeta {
                    margin: 10px;
                }
            }
        }
    }

    nav.navbar.navbar-expand-lg.bg-dark {
        padding: 0%;

        span {
            font-size: 1.3rem;
        }

        .navbarNav {
            display: flex;
            justify-content: end;
        }

        a {
            padding: 1px 10px;
        }

    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .nosotrosImg1 img {
        width: 110%;
    }

    form {

        .form-check {
            width: 80%;
            display: flex;
            justify-content: center;

            .form-check-label {
                padding: 0px 5px;
            }
        }

    }

}

@media(min-width: 1200px) {

    .main {
        
        .carrusel4 {
            display: none;
        }

        .carrusel5 {
            display: flex;
            flex-wrap: wrap;
        }
    }

}