@import 'variables.scss';

.navbar div div ul li {
    padding: 12px;
    &:hover{
        background-color: map-get($color , principal);
    }
    a {
        color: map-get($color , blanco);
        font-family: map-get($fuente , nav );
    }
}

.active2 {
    color: map-get($color , blanco);
    background-color: map-get($color , principal);
}

.logo {
    @include propiedadesFlex(flex, row, nowrap, start, center);
    color: map-get($color , blanco);
    font-size: 1.5rem;
    &:hover {
        color: map-get($color , blanco);
    }
}

