@import "variables.scss";

body.fondoNos {
    background-color: $fondoNosotros;
}

main {

    .alert3 {
        @include propiedadesFlex(flex, row, nowrap, center, center);
        
        .alert2 {
            @extend .alert3;
        }
    }
    .nosotros {
        @include propiedadesFlex(flex, row, wrap, space-around, start);
        margin: 25px;
    }
    
    .nosotrosP {
        padding: 15px;
        font-size: medium;
        color: rgba(41, 41, 41, 0.649);
    
    }
    .nosotrosImg2 img {
        width: 100%;
        height: auto;
        box-shadow: map-get($sombra , sombraClara );
        padding: 5px;
        margin-bottom: 50px;
    }
    
}


