$colorPrincipal: rgb(44, 52, 52);
$colorBlanco: rgb(255, 255, 255);
$colorGris: rgb(140, 139, 139);
$colorGrisClaro: rgb(227, 225, 225);
$colorVerde:#61F539;
$colorVerdeHover: rgba(45, 203, 1, 0.883);
$colorNegro: rgb(0, 0, 0);
$fuenteTitulos: 'Patrick Hand', cursive;
$fuenteNombre: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fondoNosotros: rgba(221, 221, 221, 0.434);
$sombra: 2px 2px 4px #000000;
$sombraClara: 2px 2px 4px #696969a2