$color:(
    principal: rgb(44, 52, 52),
    blanco: rgb(255, 255, 255),
    grisClaro: rgb(240, 240, 240),
    gris: rgb(140, 139, 139),
    grisMedio: rgb(74, 74, 74),
    verde:#61F539,
    verdeHover: rgba(45, 203, 1, 0.883),
    negro: rgb(0, 0, 0),
    rojo: rgb(255, 0, 0));

$fuente:(
    titulos: 'Arial',
    nombre: 'Franklin Gothic Medium',
    nav: sans-serif,
); 

$sombra:(
    sombra: 2px 2px 4px #000000,
    sombraClara: 2px 2px 4px #696969a2,
);

@mixin propiedadesFlex ($display, $direccion, $wrap, $justify, $align) {
    display: $display;
    flex-direction: $direccion;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}