/* reset, para poner margenes en 0 */
* {
    margin: 0px;
    padding: 0px;
    /* A los padding los suma al 100% del ancho de la página */
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "navbar navbar"
        "header header"
        "main main"
        "footer footer";
}

.navbar {
    grid-area: navbar;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

/* ////// */

hr {
    clear: left;
}

body {
    background-color: rgb(255, 255, 255);
    margin-bottom: 250px;
}

header .portadaImg {
    background-image: url("../img/portada-mobile.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    box-shadow: 2px 2px 5px rgb(57, 57, 57);
}

.banner {
    background-image: url("../img/homePets2-min.png");
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgb(57, 57, 57);
    width: 100%;
    z-index: -1;
    margin-bottom: 50px;
}

h1 {
    color: rgb(227, 225, 225);
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    clear: left;
    color: rgb(255, 255, 255);
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px #000000;
}

h3 {
    background-color: #61F539;
    border-radius: 10px 10px 0px 0px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0.9;
}

span {
    font-size: 1rem;
    --cor: rgba(200, 0, 0, 1);
    --transp: rgba(0, 0, 0, 0);
    background: var(--cor);
    background: linear-gradient(180deg,
            var(--transp) 0%,
            var(--transp) 53%,
            var(--cor) 54%,
            var(--cor) 94%,
            var(--transp) 95%,
            var(--transp) 100%);
}

.seccion {
    display: flex;
}

.huella {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    opacity: 0.5;
    margin-top: 50px;
}

.fondoNos {
    background-color: rgba(221, 221, 221, 0.434);
}

.nosotros {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nosotrosP {
    padding: 15px;
    font-size: medium;
    color: rgb(41, 41, 41);

}

.nosotrosImg1 img {
    display: none;
}

.nosotrosImg2 img {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px rgb(57, 57, 57);
    margin: 15px 0px;
}

.nosotrosImg2 {
    padding: 0px 5px;
}

/* Fin Varios */

/* Barra de navegación */
.navbar {
    background-color: rgb(44, 52, 52);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.menu2 {
    display: none;
}

nav ul {
    list-style: none;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}

nav ul li {
    display: flex;
    padding: 20px 50px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: rgb(32, 32, 32);
    margin-top: 38px;
    right: 0.1%;
    z-index: 1;

}

nav ul li ul li:hover {
    background-color: rgb(44, 52, 52);
}

.caja {
    background-color: rgb(44, 52, 52);
    padding: 15px 5px;
}

.caja:hover {
    background-color: rgb(32, 32, 32);
}

.navbar div a {
    color: #fff;
    padding: 1px 6px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

/*Fin Barra de navegación */

/* Inicio Tarjeta */

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.tarjeta {
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(227, 225, 225);
    box-shadow: 2px 2px 5px rgb(57, 57, 57);
    width: 200px;
}

div.tarjeta:hover {
    border: 1px solid #777;
}

.zoom:hover {
    transform: scale(1.05);
}

div.tarjeta img {
    width: 100%;
    height: auto;
}

div.iconoImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    box-shadow: 2px 2px 5px rgb(57, 57, 57);
    margin-bottom: 10%;
}

div.iconos {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(227, 225, 225);
}

.icono {
    background-color: #61F539;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(57, 57, 57);
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 3px;
    height: 60px;
    width: 25%;
    text-align: center;
}

.icono:hover {
    background-color: rgba(45, 203, 1, 0.883);
}

div.iconos div.icono i {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}

div.iconoImg .imgTarjeta {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

/* Fin Tarjeta */

/* Inicio Botones */

.btn {
    text-decoration: none;
    border: 0px solid #000;
    border-radius: 0px 0px 10px 10px;
    background-color: #5B88FA;
    box-shadow: 0px 0px 8px rgb(57, 57, 57);
    color: #fff;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding: 8px 16px;
    margin-top: 20px;
}

.btn:hover {
    cursor: pointer;
    color: rgb(6, 130, 255);
    background-color: rgb(255, 255, 255);
}

/* Fin Botones */

/* Inicio Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer>p {
    background-color: rgb(44, 52, 52);
    color: white;
    text-align: center;
}

.tituloFooter {
    color: rgb(140, 139, 139);
    padding-bottom: 10px;
    text-align: start;
    margin: 8px;
}

.listas {
    background-color: rgb(44, 52, 52);
    display: flex;
    justify-content: space-evenly;
}

.listas ul {
    list-style: none;
    padding-top: 25px;
}

.listas ul li a {
    text-decoration: none;
    color: rgb(118, 117, 117);
}

.listas ul li a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.listas ul li a img {
    width: 35px;
    margin-left: 10px;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: start;
}


/* Fin Footer */

/* Inicio Formulario */

form {
    display: list-item;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
}

.datos {
    margin-bottom: 10px;
}

div.divForm.datos input {
    margin: 0px 10px;
}

label {
    width: 50%;
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
}

.divForm {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

select {
    width: 50%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;

}

textarea {
    width: 50%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
}

form input[type="submit"] {
    width: 30%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #000;
}

form input[type="submit"]:hover {
    cursor: pointer;
}

/* Fin Formulario */

/* Inicio Grids */
@media(min-width: 576px) {}

@media(min-width: 768px) {

    span {
        font-size: 1.2rem;
    }

    .menu1 {
        display: none;
    }

    .menu2 {
        display: flex;
    }

    header .portadaImg {
        height: 250px;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="number"] {
        width: 220px;
    }

    .tituloFooter {
        padding-bottom: 20px;
        margin: 0px;
    }
    
    .listas ul {
        /* padding-top: 30px; */
        margin: 10px 35px;
    }
    
    .listas ul li a img {
        width: 45px;
        margin-left: 10px;
    }
    
    .redes {
        flex-direction: row;
    }

    .nosotrosP {
        padding: 15px;
        font-size: medium;
        color: rgb(41, 41, 41);
        width: 50%;
    
    }
    
    .nosotrosImg2 {
        display: none;
    }
    
    .nosotrosImg1 img {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        box-shadow: 2px 2px 5px rgb(57, 57, 57);
        margin: 15px 0px;
    }
    
    .nosotrosImg1 {
        padding: 0px 15px;
    }
}

@media(min-width: 992px) {
    span {
        font-size: 1.5rem;
    }

    div.menu2 div.caja a {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.901);
    }

    .navbar div a {
        padding: 1px 20px;
    }

    header .portadaImg {
        height: 320px;
    }

    h1 {
        font-size: 1.8rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="number"] {
        width: 300px;
    }

    .nosotrosImg1 img {
        width: 100%;
    }

}


@media(min-width: 1200px) {

    header .portadaImg {
        height: 380px;
    }

}

@media(min-width: 1400px) {

    header .portadaImg {
        height: 450px;
    }
}


/* Fin Grids */








/* Notas */


/* Se maqueta con GRID y luego se acomodan los elementos con FLEXBOX */

/* .flexbox {
    display: flex;
        *Dirección en filas o columnas
    flex-direction: row;

        *cuando no entra en la línea, la tarjeta se pone abajo;
    flex-wrap: wrap; 

        *Alinear caja verticalmente inicio centro y final. Strech = todo
    align-items: center;

        *Alinear caja horizontalmente inicio centro y final
    justify-items: start;

        *Alinear por margenes horizonales.
    justify-content: space-between;

        *Alinear por margenes verticales.
    align-content: space-around;

        *Alinear sobre su propio contenedor.
    justify-self: start;
    align-self: start;

} */

/* .grid {
    display: grid;

        *Define el largo de las columnas y cantidad de columnas según lo defina. 1º columna, 2º columna... en px, %, 1fr(fracciones), 
        auto(se acomoda a la demanda). Con medidas relativas fr, rem, em % ayuda a ser responsive.
    grid-template-columns: 200px auto 100px;

        *Repite 12 columnas de 50px
    grid-template-columns: repeat(12, 50px);

        *Define el alto de las filas. 1º fila, 2º fila... en px o %
    grid-template-rows: 100px auto auto 200px;

        *Que el contenido mínimo de alto de la fila sea de %, px
    grid-template-rows: minmax(max-content, 300px) minmax(200px, 1fr)

        *Separación entre columnas
    column-gap: 10px;

        *Separación entre fila
    row-gap: 10px;

        *Para que la estructura quede como en el dibujo. none/.. > para que quede espeacio en blanco
    grid-template-areas: "nav header header"
                         "nav main aside"
                         "nav section aside"
                         "nav footer footer";

        [
            *En la clase de nav va así:
    grid-area: nav;
    background: red;
    ]

} */